html{
    width: 100%;
    height: 100%;
}

body {
    font-family: "sans-serif", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "YakuHanJP", "Helvetica","NotoSansCJKjp","繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Meiryo UI", "�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け";
    margin: 0;
    padding: 0;
    letter-spacing: 0.05em;
    height: 100%;
    width: 100%;
    background: #ffffff;
    color: #010101;
    font-size: 16px;
    background-size: cover;
  }

  /* ヘッダーのCSS */
.header{
    width: 100%;
}

.header__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px 30px 80px;
}

.header__nav--cta{
    display: flex;
    justify-content: space-evenly;
}

.nav--cta a{
    color: #ffffff;
    background-color: #2c4720;
    text-decoration: none;
    padding: 0.5em 3em;
    box-sizing: border-box;
    border: 2px #2c4720 solid;
    border-radius: 24px;
}

.nav--login a{
    color: #2c4720;
    border: 2px #2c4720 solid;
    padding: 0.5em 3em;
    box-sizing: border-box;
    border-radius: 24px;
    text-decoration: none;
    font-weight: 700;
}

.header__nav--menu{
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
}

.menu{
    color: #5a5a5a;
    margin: 0 0 0 24px;
    position: relative;
}

.menu__icon{
    padding: 0 20px 0 0;
}

.menu__icon::after{
     width: 0;
     height: 0;
     position: absolute;
     top: 4px;
     right: 5px;
     content: "";
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 10px solid #5a5a5a;
}

.menu a{
    color: #5a5a5a;
    text-decoration: none;
}

/* ここまでヘッダー */

/* メインビュー */

.main__visual{
    position: relative;
    width: 100%;
}

.first__content{
    position: absolute;
    padding: 60px 180px;
    z-index: 999;
    color: #ffffff;
}

.sub__copy{
    font-size: 1.1vw;
    font-weight: 700;
    margin-bottom: 0.9vw;
}

.main__copy{
    font-size: 2.3vw;
    font-weight: 700;
    line-height: 3vw;
}

.main__button{
    display: flex;
    margin-top: 3vw;
}

.button__contact{
    font-size: 1.1vw;
    font-weight: 600;
    background-color: #d28200;
    padding: 1vw 2.3vw;
    border-radius: 30px;
    margin-right: 2vw;
}

.button__docment{
    font-size: 1.1vw;
    font-weight: 600;
    background-color: #d28200;
    padding: 1vw 3.5vw;
    border-radius: 30px;
}

.background__maincolor{
    position: relative;
    height:25vw;
    width: 100%;
    background-color: #2c4720;
}

.top__visual{
    position: absolute;
    top: 30px;
    left: 600px;
    height:27vw;
    width: 40vw;
    z-index: 999;
}

.background__subcolor{
    height: 5vw;
    background-color: #233919;
}