/* ヘッダーのCSS */

html{
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif, "Hiragino Kaku Gothic Pro", "Hiragino Sans", "YakuHanJP", "Helvetica","NotoSansCJKjp","繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Meiryo UI", "�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け";
    margin: 0;
    padding: 0;
    letter-spacing: 0.05em;
    height: 100%;
    width: 100%;
    background: #ffffff;
    color: #010101;
    font-size: 16px;
    background-size: cover;
  }

.header__contents{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px 30px 80px;
}

.header__nav--cta{
    display: flex;
    margin-bottom: 16px;
    justify-content: space-evenly;
}

.header__nav--menu{
    display: flex;
    justify-content: space-evenly;
}

.menu{
    margin: 0 0 0 24px;
}